# Путь к словарям hunspell, например /usr/share/extensions/dict-ru/
DICPATH=
# Путь к папке, в которой надо проверить правописание в HTML файлах, например, /var/www/example.com/
SITE_FILES_PATH=
# Путь к папке с .md файлами, в которых надо проверить правописание, например, /home/user/pasta/
MD_FILES_PATH=
